<% layout('boilerplate')%>
<div class="table-responsive p-4">


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="text-start">Customer ID</th>

                <th scope="text-end">Customer Name</th>
                <th scope="text-end">Customer Email</th>

            </tr>
        </thead>
        <tbody>
            <% for( let customer of customers ) { %>
            <tr>
                <th><%= customer._id.toString().toUpperCase().substr(10) %> </th>

                <th><%= customer.name %> </th>
                <th><%= customer.email %> </th>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<!-- Button trigger modal -->
<p class="text-center m-4">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customerModal">
        Add customer
    </button>
</p>

<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/customer" method="post" class="mb-3 needs-validation text-dark" novalidate>
                    <div class="mb-3">
                        <label for="customer-name" class="form-label">Customer Name</label>
                        <input type="text" required class="form-control" id="customer-name" name="name"
                            placeholder="Name">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the Name
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="customer-email" class="form-label">Email</label>
                        <input type="email" name="email" id="customer-email" required class="form-control"
                            placeholder="Email">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter Email.
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Add Customer</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
