<% layout('boilerplate')%>
<div class="table-responsive p-4">


    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="text-start">Inventory ID</th>
                <th scope="text-start">Inventoy Type</th>
                <th scope="text-end">Item Name</th>
                <th scope="text-end">Available Quantity</th>

            </tr>
        </thead>
        <tbody>
            <% for( let inv of inventories ) { %>
            <tr>
                <th><%= inv._id.toString().toUpperCase().substr(10) %> </th>
                <th><%= inv.type %> </th>
                <th><%= inv.name %> </th>
                <th><%= inv.available > 0 ? inv.available : "OUT OF STOCK" %> </th>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<p class="text-center m-4">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inventoryModal">
        Add Inventory
    </button>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter Inventory Type
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/inventory">All</a></li>
        <li><a class="dropdown-item" href="/inventory/Furniture">Furniture</a></li>
        <li><a class="dropdown-item" href="/inventory/Electronics">Electronics</a></li>
        <li><a class="dropdown-item" href="/inventory/Kids">Kids</a></li>
        <li><a class="dropdown-item" href="/inventory/Clothes">Clothes</a></li>
        <li><a class="dropdown-item" href="/inventory/Kitchen">Kitchen</a></li>
        <li><a class="dropdown-item" href="/inventory/Automobile">Automobile</a></li>

    </ul>
</div>

</p>

<!-- Modal -->
<div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">Add Inventory</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/inventory" method="post" class="mb-3 needs-validation text-dark" novalidate>
                    <div class="mb-3">
                        <label for="inventory-name" class="form-label">Inventory Name</label>
                        <input type="text" required class="form-control" id="inventory-name" name="name"
                            placeholder="Name">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter the Name
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inventory-type" class="form-label">Inventory Type</label>
                        <select name="type" required class="form-control" id="inventory-type">
                            <option disabled value="">Select Type</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Furniture">Furniture</option>
                            <option value="Clothes">Clothes</option>
                            <option value="Kids">Kids</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Automobile">Automobile</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter Inventory Type
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inventory-quantity" class="form-label">Quantity available</label>
                        <input type="number" name="quantity" id="inventory-quantity" name="Quantity" required
                            class="form-control">

                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter Quantity
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Add Inventory</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
